/* src/app/globals.css */
@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Чёрный фон + аккуратные неоновые линии по краям */

body {
  background-color: #02010a; /* глубокий тёмный */

  background-image: url("/bg-lines.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}